{% extends 'base.html.twig' %}

{% block title %}ECORIDE{% endblock %}

{% block body %}
<div class="hero-scene text-center text-white">
    <div class="hero-scene-content">
        <h1>Bienvenue sur ECORIDE <br>
        votre plateforme de mobilité éco-responsable 🌿</h1>
        <p>Chez ECORIDE, nous croyons en une mobilité plus 
        respectueuse de l’environnement et accessible à tous. 
        Notre mission est de transformer vos trajets du quotidien 
        en expériences écoresponsables, simples et agréables.</p>
    </div>
</div>
{% endblock %}
