
<footer class="container-fluid bg-dark data-bs-theme="dark" text-secondary text-center py-2">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <p class="col-md-4 d-flex align-items-center mb-0" href="#"><i class="bi bi-c-circle fs-4"></i>Ecoride</p>    
                    
            <ul class="nav col-md-4 justify-content-between ms-auto">
                <li class="nav-item">                           
                </li>
                <li class="nav-item">
                    <a href="/" class="col-md-4 mb-3 mb-md-0 me-md-auto text-decoration-none">
                Mentions légales
            </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="col-md-4 mb-3 mb-md-0 me-md-auto text-decoration-none">
                Contact
            </a>
                </li>
            </ul>
                    
        </div>
    </nav>
</footer>
